/*  Custom CSS: Customized for Fire Theme   */

:root {
    --neutral-color:    #78716c;
    --primary-color:    #f97316;
    --secondary-color:  #f43f5e;
}

::selection {
    color:      var(--primary-color);
    background: var(--secondary-color);
}

input,
textarea {
    box-sizing: border-box !important;
    outline:    none !important;
    border:     1px solid var(--primary-color) !important;
    color:      var(--primary-color) !important;
}

input:focus,
textarea:focus {
    border:          1px solid var(--primary-color) !important;
    --tw-ring-color: var(--primary-color) !important;
}


/* Custom CSS for member-list shortcode */

.member-list {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.member-list__item {
    display: block;
    line-height: 0;
}

.member-list__item img {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform .2s;
}

.member-list__item:hover img {
    transform: scale(1.05);
}
