{{- $filter := .Get "members" -}}

<div class="member-list">
  {{- if $filter -}}
    {{- range split $filter "," -}}
      {{- $slug := strings.TrimSpace . -}}
      {{- with site.GetPage (printf "/members/%s" $slug) -}}
        {{- $avatar := .Resources.GetMatch "avatar.*" -}}
        {{- if $avatar -}}
          <a
            href="{{ .RelPermalink }}"
            title="{{ .Title }}"
            class="member-list__item">

            <img
              src="{{ $avatar.RelPermalink }}"
              alt="{{ .Title }}"
              loading="lazy">

          </a>
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- else -}}
    {{- $members := where site.RegularPages "Section" "members" -}}
    {{- range sort $members "Title" -}}
      {{- $avatar := .Resources.GetMatch "avatar.*" -}}
      {{- if $avatar -}}
        <a
          href="{{ .RelPermalink }}"
          title="{{ .Title }}"
          class="member-list__item">

          <img
            src="{{ $avatar.RelPermalink }}"
            alt="{{ .Title }}"
            loading="lazy">

        </a>
      {{- end -}}
    {{- end -}}
  {{- end -}}
</div>
